* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf') format('truetype');
    /* Укажите правильный путь к файлу шрифта Roboto Regular в формате ttf */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bold-text {
    font-weight: 700;
}

.Main__page {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1319px;
    height: 928px;
    align-items: flex-start;
    flex-wrap: wrap;
}

header {
    display: flex;
    width: 100%;
    max-width: 1289px;
    height: 114px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1030px;
    height: 40px;
}

.logo__image {
    max-height: 40px;
    margin-right: 10px;
}

.grow {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu{
    width: 556px;
    height: 40px;

}
.menu__links {
    display: flex;
    width: 100%;
    max-width: 556px;
    height: 40px;
}

.menu__links a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s;
}

.menu__links a:hover {
    color: #ff4500;
}

.main__container {
    display: flex;
    align-items: center;
   justify-content:  space-around;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 1274px;
    height: 536px;
    z-index: 1;
    flex-wrap: wrap;
}

.left__rec {
    display: flex;
    align-items: start;
    width: 589px;
    height: 494px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main_text_in_left_rec {
    color: #000;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
}

.sub_title {
    color: #888;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 374px;
    height: 94px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
}

.orange-button {
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.transparent-button {
    background: transparent;
    border: 2px solid #ffffff;
    color: #F25822;
}

.transparent-button:hover {
    background: #F25822;
    color: #fff;
}

.footer {
    display: flex;
    width: 100%;
    max-width: 1240px;
    height: 158px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
}